@use "src/styles/mixins" as *;

.walkup {
	display: flex;
	align-items: center;
	flex-direction: column;

	background: hsl(5, 100%, 44%);
	color: white;
	inline-size: 100%;
	block-size: 100vh;

	h1 {
		@include title;
	}

	p {
		@include display;
	}
}