@use "mixins" as *;

html[lang="he"], html[lang="ar"] { // this was surprisingly easy
	direction: rtl;
}

body {
	margin: 0;
	background: var(--fds-solid-background-base);
	color: var(--fds-text-primary);
	font-family: var(--fds-font-family-display);
	font-size: 1rem;
}

main {
	margin-block-end: 0;
}

.button:not(.settings-footer-button), .button.style-accent:not(.settings-footer-button) {
	@include button;
}