@mixin icon($size: var(--fds-body-font-size)) {
	inline-size: $size;
	block-size: auto;
	fill: currentColor;
}

@mixin display {
	font-size: 20vw;
	font-weight: 500;
	margin-block: 1rem;

	@media (width < 1000px) {
		font-size: 40vw;
	}
}

@mixin title {
	font-size: 5vw;
	font-weight: 500;
	color: currentColor;
	margin-block-start: 5vh;
	user-select: none;

	@media (width < 1000px) {
		font-size: 7.5vw;
	}
}

@mixin button {
	display: flex;
	align-items: center;
	gap: 1ch;

	padding: 1ch;

	font-size: 1.5rem;
	font-weight: 500;
	user-select: none;

	svg {
		@include icon($size: 1.5rem);
	}
}